.gradle/8.13/gc.properties
.gradle/8.13/fileChanges/last-build.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/8.13/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/outputFiles.bin
