/target/**
/VinoImporter.iml
/.idea/
import/Wermuth/*
log/**
**/vino.log
/target/
/.apt_generated/
/.apt_generated_tests/
vinoStagingFileSteinfels.xlsx
/validatedOutput/**
/build/libs/VinoImporter-0.0.1-SNAPSHOT.jar
