/VinoImporter.iml
/.idea/
import/Wermuth/*
log/**
**/vino.log
vinoStagingFileSteinfels.xlsx
/validatedOutput/**
/build/**
/app/**
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/QualityCheckPending/Steinfels/316_Resultate.pdf
/import/Steinfels/379_05032016_Resultate.pdf
/prototyping/resources/379_05032016_Resultate.pdf
/QualityCheckPending/Steinfels/379_05032016_Resultate.pdf

../.gradle/buildOutputCleanup/buildOutputCleanup.lock
../.gradle/buildOutputCleanup/outputFiles.bin
../VinoDomain/.gradle/buildOutputCleanup/cache.properties
../.DS_Store
../VinoDomain/.idea/
import/.DS_Store
lib/
output_Steinfels_05032016.log
skippedRowsFrom_Steinfels_05032016.log