/VinoImporter.iml
/.idea/
import/Wermuth/*
log/**
**/vino.log
vinoStagingFileSteinfels.xlsx
/validatedOutput/**
/build/**
/app/**
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/QualityCheckPending/Steinfels/316_Resultate.pdf
/import/Steinfels/379_05032016_Resultate.pdf
/prototyping/resources/379_05032016_Resultate.pdf
/QualityCheckPending/Steinfels/379_05032016_Resultate.pdf
