# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 17
        architecture: x64
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Publish local dependency VinoDomain
      run: ./gradlew --project-dir VinoDomain build publishToMavenLocal

    - name: Publish local dependency PersiCommons
      run: ./gradlew --project-dir PersiCommons build publishToMavenLocal

    - name: Execute Gradle build
      run: ./gradlew --project-dir VinoImporter --build-file ci-build.gradle.kts build
